{% extends "base.html.twig" %}

{% block title %}- Nouveau mot de passe{% endblock %}

{% block body %}

    <div class="container wrap p-4 background vh">

        <h1 class="text-center">Inscription</h1>

        {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'class': 'pt-5 pb-5'}}) }}

            {{ form_label(form.password.first, '', {'label_attr': {'class': 'mt-3'}}) }}
            {{ form_widget(form.password.first) }}
            {% if form_errors(form.password) %}
                <div class="alert alert-danger mt-2">
                    {{ form_errors(form.password) }}
                </div>
            {% endif %}
            {% if form_errors(form.password.first) %}
                <div class="alert alert-danger mt-2">
                    {{ form_errors(form.password.first) }}
                </div>
            {% endif %}
            {{ form_label(form.password.second, '', {'label_attr': {'class': 'mt-3'}}) }}
            {{ form_widget(form.password.second) }}

            <input type="submit" class="btn btn-primary-custom w-50 mt-5" value="Envoyer">

        {{ form_end(form) }}

    </div>

{% endblock %}
